.nav {
    background: $primary;
    height: 9rem;
    padding: 0 $bumperPadding;
    position: fixed;
    width: 100%;
    &__item {
        display: none;
    }
    &__logo {
        height: 6.2rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__social {
        display: none;
    }
}

// TODO: Adjust height of hamburger
.nav-hamburger {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .25s ease;
    width: 2rem;
    z-index: 2;

    &:hover {
        opacity: .7;
    }
    &__top,
    &__middle,
    &__bottom {
        background: $darkGray;
        border: none;
        cursor: pointer;
        height: 0.25rem;
        left: 0;
        position: absolute;
        top: 0;
        transition: all .35s ease;
        width: 100%;
    }
    &__middle {
        top: 1.1rem;
    }
    &__bottom {
        top: 2.2rem;
    }
    &.-active {
        .nav-hamburger__top {
            transform: translateY(1.1rem) translateX(0) rotate(45deg);
        }
        .nav-hamburger__middle {
            opacity: 0;
        }
        .nav-hamburger__bottom {
            transform: translateY(-1.1rem) translateX(0) rotate(-45deg);
        }
    }
}

.nav-overlay {
    animation: shrink .5s ease;
    background: $primary;
    height: 0;
    left: 0;
    overflow: hidden;
    padding: 0 $bumperPadding;
    position: absolute;
    top: 9rem;
    width: 100%;
    &__item {
        font-size: 1.2rem;
        left: -20rem;
        margin-bottom: 3rem;
        position: relative;
        text-transform: uppercase;

        &:first-child {
            margin-top: 1.5rem;
        }
    }
    &.-open {
        animation: grow .5s ease forwards;
        height: 24.7rem;
        .nav-overlay__item {
            animation: fadeInLeft .5s ease forwards;
            animation-delay: .25s;
            &:nth-of-type(2) {
                animation-delay: .35s;
            }
            &:nth-of-type(3) {
                animation-delay: .4s;
            }
            &:nth-of-type(4) {
                animation-delay: .45s;
            }
        }
    }
}

@tablet {
    .nav-hamburger,
    .nav-overlay {
        display: none;
    }

    .nav {
        align-items: center;
        animation: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        &__item {
            display: block;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
        &__logo {
            left: initial;
            position: initial;
            top: initial;
            transform: none;
        }
    }
}

@desktop {
    .nav {
        grid-gap: 4rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 20rem 1.5rem 1.5rem 1.5rem 1.5rem 12rem;
        height: 100vh;
        justify-items: left;
        padding: 0 4.7rem;
        width: 29rem;
        &__logo {
            grid-row: 1;
            height: 8.3rem;
            justify-self: center;
        }
        &__item {
            position: relative;

            &::before {
                background-color: $darkGray;
                bottom: 0;
                content: '';
                height: 0.1rem;
                left: 0;
                position: absolute;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
                visibility: hidden;
                width: 100%;
            }

            &:hover,
            &:focus {
                &::before {
                    transform: scaleX(1);
                    visibility: visible;
                }
            }
        }
        &__social {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 16.2rem;
        }
        &__social-item {
            display: block;
            height: 1.7rem;

            &:hover,
            &:focus {
                transform: scale(1.04);
            }
        }
    }
}
