.footer {
    background: $black;
    &__socials {
        @include flexContainer();

        margin: 0 auto;
        max-width: 17rem;
        padding: 2rem 0;
    }
    &__link {
        color: $white;
        cursor: pointer;
        display: block;
        font-size: 2.5rem;
        margin: 0 1rem;
        transition: 0.2s all ease-in;
        &:hover {
            color: $primary;
        }
        &.-twitter {
            &::after {
                @include icon($iconTwitter, 2rem);
            }
        }
        &.-instagram {
            &::after {
                @include icon($iconInstagram, 2rem);
            }
        }
        &.-linkedin {
            &::after {
                @include icon($iconLinkedIn, 2rem);
            }
        }
        &.-github {
            &::after {
                @include icon($iconGithub, 2rem);
            }
        }
    }
}
