.header {
    position: relative;
    top: 0;
    transition: all 0.5s;
    width: 100%;
    z-index: 1;
    &.-is-active {
        background: $primary;
        box-shadow: 0 0 12px -2px $darkGray;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        .header__logo {
            display: block;
            max-width: 50rem;
        }
    }
    &__nav {
        @include flexContainer();
    }
    &__logo {
        max-width: 0;
        overflow: hidden;
        transition: all 0.25s;
        width: 5rem;
        &:hover {
            color: $darkGray;
        }
    }
    &__link {
        color: $darkGray;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.25s;
        &:hover {
            color: $primary;
        }
    }
    &__link-wrapper {
        @include flexContainer($justify: center, $align: center);
        flex-grow: 1;
        list-style: none;
    }
}
