.not-found {
    background: $primary;
    height: 100vh;
    &__hero {
        background: none;
        display: block;
        height: 127px;
        margin: auto;
        padding-top: 5%;
        position: relative;
        width: 225px;
    }
    &__heading {
        color: $darkGray;
        font-family: 'Ultra', serif;
        font-size: 10rem;
        text-align: center;
    }
    &__subheading {
        @include flexContainer($justify: center);

        color: $darkGray;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        margin-top: 3rem;
    }
    &__text {
        @include flexContainer($justify: center);

        color: $darkGray;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7rem;
    }
    &__button {
        background: $darkGray;
        background-image: linear-gradient(to right, transparent 50%, #f4d6d8 50%);
        background-size: 201% 100%;
        border: 2px solid $darkGray;
        display: block;
        font-weight: bold;
        margin: 3rem auto;
        max-width: 25rem;
        transition: background-position .5s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease, border .5s ease;
        &:hover {
            background-color: $primary;
            background-position: -100% 100%;
            border: 2px solid $darkGray;
            color: $darkGray;
        }
    }
}

.dog-head {
    background: $dog-primary;
    border-bottom-left-radius: 100px;
    height: 23%;
    left: 30%;
    position: absolute;
    top: 37%;
    width: 18.5%;
}

.nose {
    background: $black;
    border-radius: 50%;
    height: 15%;
    left: -3%;
    position: absolute;
    top: -8%;
    width: 10%;
}

.head-spot {
    background: $dog-secondary;
    border-radius: 50%;
    height: 50%;
    left: 55%;
    position: absolute;
    top: 12.5%;
    width: 35%;
}

.eye {
    background: $black;
    border-radius: 50%;
    height: 35%;
    left: 30%;
    position: absolute;
    top: 15%;
    width: 35%;
}

.pupil {
    background: $white;
    border-radius: 50%;
    height: 40%;
    left: 20%;
    position: absolute;
    top: 15%;
    width: 40%;
}

.ear-right {
    background: $dog-primary;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    height: 25%;
    left: 90%;
    position: absolute;
    top: -25%;
    width: 10%;
}

.ear-left {
    background: $dog-secondary;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    height: 25%;
    left: 80%;
    position: absolute;
    top: -25%;
    width: 10%;
}

.smile {
    background: $dog-primary;
    border-left: 2px solid $dog-secondary;
    border-top: 1px solid $dog-secondary;
    border-top-left-radius: 45px;
    height: 25%;
    left: 13%;
    position: absolute;
    top: 85%;
    transform: rotate(180deg);
    transform-origin: 100% 0%;
    width: 17%;
}

.tongue {
    animation: pant 0.3s infinite;
    background: #f38f31;
    border-top-left-radius: 1vmin;
    border-top-right-radius: 1vmin;
    height: 30%;
    left: 40%;
    position: absolute;
    top: -70%;
    width: 50%;
}

.dog-body {
    background: $dog-primary;
    border-bottom-left-radius: 100px;
    height: 25%;
    left: 44%;
    position: absolute;
    top: 56.5%;
    width: 25.5%;
}

.body-spot {
    background: $dog-secondary;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    height: 30%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 30%;
}

.tail {
    animation: wag 0.25s infinite;
    background: $dog-primary;
    clip-path: polygon(50% 0%, 28% 100%, 72% 100%);
    height: 30%;
    left: 89%;
    position: absolute;
    top: -20%;
    transform: rotate(25deg);
    width: 20%;
}

.leg1 {
    background: $dog-primary;
    height: 50%;
    left: 20%;
    position: absolute;
    top: 80%;
    width: 10%;
}

.leg2 {
    background: $dog-primary;
    height: 40%;
    left: 32.5%;
    position: absolute;
    top: 90%;
    width: 10%;
}

.leg3 {
    background: $dog-secondary;
    height: 30%;
    left: 75%;
    position: absolute;
    top: 100%;
    width: 10%;
}

.leg4 {
    background: $dog-primary;
    height: 50%;
    left: 90%;
    position: absolute;
    top: 80%;
    width: 10%;
}

.foot1 {
    background: $dog-primary;
    clip-path: polygon(100% 37%, 0 100%, 100% 100%);
    height: 60%;
    left: -40%;
    position: absolute;
    top: 40%;
    width: 100%;
}

.foot2 {
    background: $dog-primary;
    clip-path: polygon(0 38%, 0 100%, 100% 100%);
    height: 60%;
    position: absolute;
    right: -40%;
    top: 40%;
    width: 100%;
}

.foot3 {
    background: $dog-secondary;
    clip-path: polygon(100% 37%, 0 100%, 100% 100%);
    height: 60%;
    left: -40%;
    position: absolute;
    top: 40%;
    width: 100%;
}

.foot4 {
    background: $dog-primary;
    clip-path: polygon(100% 37%, 0 100%, 100% 100%);
    height: 60%;
    left: -40%;
    position: absolute;
    top: 40%;
    width: 100%;
}

@tablet {
    .not-found {
        &__hero {
            height: 420px;
            width: 800px;
        }
        &__heading {
            font-size: 30rem;
        }
        &__subheading {
            font-size: 5rem;
            line-height: 66px;
            margin-top: 0;
        }
    }
}

// CSS Animations
@keyframes pant {
    0% {
        height: 3vmin;
        top: -3.1vmin;
    }
    50% {
        height: 2vmin;
        top: -2.1vmin;
    }
    100% {
        height: 3vmin;
        top: -3.1vmin;
    }
}

@keyframes wag {
    0% {
        // -webkit-clip-path: polygon(50% 0%, 28% 100%, 72% 100%);
        clip-path: polygon(50% 0%, 28% 100%, 72% 100%);
    }
    25% {
        // -webkit-clip-path: polygon(40% 0, 28% 100%, 72% 100%);
        clip-path: polygon(40% 0, 28% 100%, 72% 100%);
    }
    50% {
        // -webkit-clip-path: polygon(60% 1%, 28% 100%, 72% 100%);
        clip-path: polygon(60% 1%, 28% 100%, 72% 100%);
    }
    75% {
        // -webkit-clip-path: polygon(48% 1%, 28% 100%, 72% 100%);
        clip-path: polygon(48% 1%, 28% 100%, 72% 100%);
    }
    100% {
        // -webkit-clip-path: polygon(50% 0%, 28% 100%, 72% 100%);
        clip-path: polygon(50% 0%, 28% 100%, 72% 100%);
    }
}
