// TODO: Adjust font weights
.hero {
    height: 14.1rem;
    position: relative;
    z-index: -1;

    &::after {
        background: $black;
        content: '';
        height: 100%;
        left: 0;
        opacity: .1;
        position: absolute;
        top: 0;
        width: 100%;
    }
    &__image {
        height: inherit;
        object-fit: cover;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }
    &__content {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    &__title {
        font-family: $headingFont;
        font-size: 3rem;
        font-weight: $boldFontWeight;
        margin-bottom: .3rem;
    }
    &__subtitle {
        font-family: $secondaryFont;
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 0;
        text-transform: lowercase;
    }
    &__headshot {
        border-radius: 50%;
        bottom: -80%;
        height: 14.1rem;
        left: 50%;
        object-fit: cover;
        position: absolute;
        transform: translateX(-50%);
        width: 14.6rem;
        z-index: 2;
    }
}

@tablet {
    .hero {
        height: 34rem;
        &__title {
            font-size: 4rem;
            margin-bottom: .9rem;
        }
        &__subtitle {
            font-size: 2.5rem;
        }
        &__headshot {
            bottom: -50%;
            height: 25.3rem;
            width: 26.6rem;
        }
    }
}

@desktop {
    .hero {
        &__headshot {
            bottom: -65%;
            height: 29.4rem;
            width: 29rem;
        }
    }
}
