.work-together {
    background: $primary;
    // clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
    color: $darkGray;
    text-align: center;
    &__content {
        padding: 3rem 2rem;
    }
    &__subheading {
        color: $darkGray;
    }
    &__button {
        background-image: linear-gradient(to right, transparent 50%, $darkGray 50%);
        background-size: 202% 100%;
        border: 1px solid $darkGray;
        color: $darkGray;
        transition: background-position .5s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
        &:hover {
            background-color: $darkGray;
            background-position: -100% 100%;
            color: rgba(255, 255, 255, 1);
        }
    }
}

@tablet {
    .work-together {
        &__content {
            padding: 7rem 0;
        }
        &__subheading {
            margin-bottom: 3rem;
        }
    }
}
